.icon-angular{
    width: 70px;
    height: 70px;
    background-image: url("../assets/angular.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
.icon-bootstrap{
    width: 70px;
    height: 70px;
    background-image: url("../assets/bootstrap.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
.icon-react{
    width: 65px;
    height: 70px;
    background-image: url("../assets/React.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
.icon-figma{
    width: 70px;
    height: 70px;
    background-image: url("../assets/figma.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
.icon-illustrator{
    width: 67px;
    height: 70px;
    background-image: url("../assets/ai.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
.icon-photoshop{
    width: 65px;
    height: 70px;
    background-image: url("../assets/ps.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}

.ex-one{
    background-image: url("../assets/app.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 492px;
}
.ex-two{
    background-image: url("../assets/gallery.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 240px;
}
.ex-three{
    background-image: url("../assets/rec.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 515px;
}
.ex-four{
    background-image: url("../assets/lay.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 492px;
}
.ex-five{
    background-image: url("../assets/lay2.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 294px;
}